* text=auto !eol
action/configurer_iecompat.php -text
configuration/ie6config.php -text
imgs/browser-32.png -text
javascript/IE7.js -text
javascript/IE8.js -text
javascript/IE9.js -text
javascript/blank.gif -text
javascript/ie7-recalc.js -text
javascript/ie7-squish.js -text
javascript/jquery.ifixpng.js -text
lang/msiecompat_ca.php -text
lang/msiecompat_de.php -text
lang/msiecompat_en.php -text
lang/msiecompat_fr.php -text
/msie_compat.php -text
/plugin.xml -text
