* text=auto !eol
formulaires/configurer_vieux_butineurs.html -text
formulaires/configurer_vieux_butineurs.php -text
images/msiecompat-16.png -text
images/msiecompat-24.png -text
images/msiecompat-32.png -text
javascript/IE7.js -text
javascript/IE8.js -text
javascript/IE9.js -text
javascript/blank.gif -text
javascript/ie7-recalc.js -text
javascript/ie7-squish.js -text
javascript/jquery.ifixpng.js -text
lang/msiecompat.xml -text
lang/msiecompat_ar.php -text
lang/msiecompat_ast.php -text
lang/msiecompat_ca.php -text
lang/msiecompat_de.php -text
lang/msiecompat_en.php -text
lang/msiecompat_es.php -text
lang/msiecompat_eu.php -text
lang/msiecompat_fa.php -text
lang/msiecompat_fr.php -text
lang/msiecompat_fr_tu.php -text
lang/msiecompat_it.php -text
lang/msiecompat_lb.php -text
lang/msiecompat_nl.php -text
lang/msiecompat_pt_br.php -text
lang/msiecompat_ru.php -text
lang/msiecompat_sk.php -text
lang/paquet-msie_compat.xml -text
lang/paquet-msie_compat_ar.php -text
lang/paquet-msie_compat_de.php -text
lang/paquet-msie_compat_en.php -text
lang/paquet-msie_compat_es.php -text
lang/paquet-msie_compat_fa.php -text
lang/paquet-msie_compat_fr.php -text
lang/paquet-msie_compat_it.php -text
lang/paquet-msie_compat_lb.php -text
lang/paquet-msie_compat_nl.php -text
lang/paquet-msie_compat_pt_br.php -text
lang/paquet-msie_compat_ru.php -text
lang/paquet-msie_compat_sk.php -text
lang/paquet-msiecompat.xml -text
/msie_compat.php -text
/msie_compat_ieconfig.php -text
